title: Disegno & Pittura
email: sasadangelo@google.com
description: >-
  Disegno e Pittura è un blog dedicato al disegno e alla pittura tradizionale:
  tecniche artistiche, chiaroscuro, materiali, tutorial pratici e riflessioni
  sull’arte per chi vuole imparare, migliorare e approfondire.
baseurl: "/disegnoepittura"
url: "https://sasadangelo.github.io"
twitter_username: jekyllrb
github_username: jekyll

logo: /assets/images/logo.png

# Build settings
theme: minimal-mistakes-jekyll
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-paginate-v2

permalink: /:slug/
masthead_title: ""
assets:
  stylesheets:
    - /assets/css/main.scss
    - /_sass/custom.scss

lang: it
locale: "it-IT"
classes: wide

pagination:
  enabled: true
  collection: "posts"
  per_page: 6
  permalink: "/page/:num/" # Pages are index.html inside this folder (default)
  title: ":title - page :num"
  limit: 0
  sort_field: "date"
  sort_reverse: true
  trail:
    before: 2
    after: 2

analytics:
  provider: "google-gtag"
  google:
    tracking_id: ""
    anonymize_ip: false
google_site_verification: ""

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      related: true
      show_date: true

date_format: "%-d %B %Y"

footer:
  links:
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook"
      url: "https://www.facebook.com/disegno.pittura/"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://www.instagram.com/sasadangeloo"

exclude:
  - "README.md"
  - "docs"
  - "tools"

sass:
  style: compressed
