<footer>
  <div id="footer-container">
    <div id="footer-widget-area">
      <aside class="footer-widget" aria-label="Latest Posts">
        <div class="footer-widget-title">Latest Posts</div>
        <ul>
          {% for post in site.posts limit: site.latest_posts %}
            <li><a href="{{ site.baseurl }}/{{ post.slug }}/">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </aside>
      <aside class="footer-widget" aria-label="Categories">
        <div class="footer-widget-title">Categories</div>
        <ul>
          {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <li><a href="{{ site.baseurl }}/category/{{ category_name | slugify }}/">{{ category_name }}</a></li>
           {% endfor %}
        </ul>
      </aside>
      <aside class="footer-widget" aria-label="Connect">
        <div class="footer-widget-title">Connect</div>
        <ul>
          <li><a href="{{ site.baseurl }}/about-me/">About me</a></li>
          <li><a href="{{ site.baseurl }}/contacts/">Contacts</a></li>
          <li><a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a></li>
        </ul>
      </aside>
    </div>
    <div id="site-info">
      {{ site.copyright }}
    </div>
  </div>
</footer>
