<header>
  <div id="header-area">
    <div id="header-group">
      <div id="logo">
        <a href="{{ site.baseurl }}/" title="{{ site.title }}">
          <img  src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.logo-alt }}" width="{{ site.logo-width }}" height="{{ site.logo-height }}">
        </a>    
      </div>
      <div id="social-media-group">
        <div class="social-media-title">Seguimi su:</div>
        <div class="social-media-icons">
          {% if site.social.facebook-url %}
          <a aria-label="{{ site.title }} Facebook page" title="{{ site.title }} Facebook page" class="social-media-icon social-media-icon-facebook" href="{{ site.social.facebook-url }}">
            <span class="fa-brands fa-facebook-f"></span>
          </a>
          {% endif %}
          {% if site.social.twitter-url %}
          <a aria-label="{{ site.title }} Twitter page" title="{{ site.title }} Twitter page" class="social-media-icon social-media-icon-twitter" href="{{ site.social.twitter-url }}">
            <i class="fa-brands fa-twitter"></i>
          </a>
          {% endif %}
          {% if site.social.youtube-url %}
          <a aria-label="{{ site.title }} Linkedin page" title="{{ site.title }} Linkedin page" class="social-media-icon social-media-icon-linkedin" href="{{ site.social.linkedin-url }}">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          {% endif %}
          {% if site.social.linkedin-url %}
          <a aria-label="{{ site.title }} Youtube channel" title="{{ site.title }} Youtube channel" class="social-media-icon social-media-icon-youtube" href="{{ site.social.youtube-url }}">
            <i class="fa-brands fa-youtube"></i>
          </a>
          {% endif %}
          {% if site.social.github-url %}
          <a aria-label="{{ site.title }} Github page" title="{{ site.title }} Github page" class="social-media-icon social-media-icon-github" href="{{ site.social.github-url }}">
            <i class="fa-brands fa-github"></i>
          </a>
          {% endif %}
          {% if site.social.instagram-url %}
          <a aria-label="{{ site.title }} Instagram page" title="{{ site.title }} Instagram page" class="social-media-icon social-media-icon-instagram" href="{{ site.social.instagram-url }}">
            <i class="fa-brands fa-instagram"></i>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
