<header>
  <div id="header-area">
    <div id="header-group">
      <div id="logo">
        <a href="{{ site.baseurl }}/" title="Code4Projects">
          <img  src="{{ site.baseurl }}/{{ site.logo }}" alt="Code4Projects Logo" width="150" height="150">
        </a>    
      </div>
      <div id="social-media-group">
        <div class="social-media-title">Follow me on:</div>
        <div class="social-media-icons">
          <a aria-label="Code4Projects Facebook page" title="Code4Projects Facebook page" class="social-media-icon social-media-icon-facebook" href="https://www.facebook.com/code4projects/">
            <span class="fa-brands fa-facebook-f"></span>
          </a>
          <a aria-label="Code4Projects Twitter page" title="Code4Projects Twitter page" class="social-media-icon social-media-icon-twitter" href="https://twitter.com/code4projects">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a aria-label="Code4Projects Linkedin page" title="Code4Projects Linkedin page" class="social-media-icon social-media-icon-linkedin" href="https://www.linkedin.com/in/salvatore-d-angelo-0321851/">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a aria-label="Code4Projects Youtube channel" title="Code4Projects Youtube channel" class="social-media-icon social-media-icon-youtube" href="https://www.youtube.com/channel/UCBntvkFS3phHOFAWNS8_4pg/">
            <i class="fa-brands fa-youtube"></i>
          </a>
          <a aria-label="Code4Projects Github page" title="Code4Projects Github page" class="social-media-icon social-media-icon-github" href="https://github.com/sasadangelo">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
