/* Custom CSS - Sidebar a destra */
.sidebar {
    float: right !important;
    margin-left: 1em !important;
    margin-right: 0 !important;
}

.page {
    float: left !important;
    width: calc(100% - 300px) !important;
}

@media (min-width: 80em) {
    .page {
        width: calc(100% - 400px) !important;
    }
}

// Made with Bob