---
layout: default
---
<div id="blog-main">
  <div id="blog-container">
    <div id="blog-content">
      <h1>Blog Archives: {{ page.title }}</h1>
      {% for post in paginator.posts %}
        <div class="blog-entry">
          <div class="blog-entry-image">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" width="100%" height="auto">
            </a>
          </div>
          <div class="blog-entry-content">
            <div class="blog-entry-header">
              <div class="blog-entry-title">
                <h2>
                  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </h2>
              </div>
              <div class="blog-entry-meta">
                Posted on <b>{{ post.date | date_to_string }}</b>
              </div>
            </div>
            <div class="blog-entry-excerpt">
              <p>{{ post.excerpt }}</p>
              <a href="{{ site.baseurl }}{{ post.url }}">Continue Reading</a>
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- Pagination links -->
      <div class="pagination">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a href="{{ site.baseurl }}/blog/" class="previous-page">
              Previous
            </a>
          {% else %}
            <a href="{{ site.baseurl }}/blog/page/{{ paginator.previous_page }}/" class="previous-page">
              Previous
            </a>
          {% endif %}
        {% else %}
          <span class="previous-page">Previous</span>
        {% endif %}
        <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ site.baseurl }}/blog/page/{{ paginator.next_page }}/" class="next-page">Next</a>
        {% else %}
          <span class="next-page">Next</span>
        {% endif %}
      </div>
    </div>
    <div id="blog-sidebar">
      {% include blog_sidebar.html %}
    </div>
  </div>
</div>
