<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/thank-you.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/fontawesome/css/solid.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='robots' content='noindex, nofollow' />
  </head>
  <body>
    <header class="site-header">
      <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ page.title}}" />
      <h1 class="site-header__title">{{page.title}}</h1>
    </header>
    <div class="main-content">
      <i class="fa fa-check main-content__checkmark"></i>
      {{content}}
    </div>
    <footer class="site-footer">
      <p class="site-footer__fineprint">{{ site.copyright }}</p>
    </footer>
  </body>
</html>
